@import "variables";

.banner {
  min-height: 595px;
  background: url("../img/women.png") 0 -62px no-repeat;
  background-color: $background-color;
  .our-products {
    margin-top: 60px;
    .products-pictures-wrapper {
      position: relative;
      min-height: 330px;
      .layer-first {
        position: absolute;
        left: 15px;
        width: 320px;
        height: 320px;
        box-shadow: inset 0 60px 300px -100px #fff;
        transform: rotate(-45deg);
        background: linear-gradient(left, #40405d 60%, #4e4f6c 64%);
        clip-path: polygon(74% 7%, 100% 58%, 62% 100%, 0% 71%, 18% 18%);
      }

      .layer-second {
        position: absolute;
        top: 50%;
        transform: translateX(-13%) translateY(-22%) rotate(-45deg);
        width: 320px;
        height: 320px;
        background-color: #16162d;
        clip-path: polygon(76% 9%, 100% 56%, 62% 100%, 12% 74%, 12% 15%);
      }

      .products {
        position: absolute;
        top: 50%;
        left: 70px;
        transform: translateY(-24%);
        .product {
          .picture {
            display: block;
            &:after {
              content: '';
              display: block;
              box-shadow: -61px -30px 86px 16px #fff;
            }
          }

          .label-block {
            position: relative;
            display: block;
            .logo {
              position: relative;
              width: 100px;
              height: 89px;
              transform: translateX(-43%) translateY(-72%) skew(45deg);
              &:after {
                position: absolute;
                content: "";
                transform: translateX(0%) translateY(-40%);
                top: 50%;
                display: block;
                background: linear-gradient(left, #fff 20%, #afafaf, #e9e9e9, #fff, #dedede);
                width: 193px;
                height: 60px;
                box-shadow: -6px 9px 9px -1px rgba(0, 0, 0, 0.19);
              }
            }

            p {
              position: absolute;
              top: -50%;
              width: 115%;
              transform: translateY(10px);
              color: #000;
              font-size: 16px;
              line-height: 18px;
              font-weight: bold;
              text-indent: -15%;
            }
          }

          &:first-child {
            .label-block {
              .logo {
                border-left: 6px solid #2daae1;
              }

              &:before {
                content: "";
                position: absolute;
                top: -50%;
                left: -50%;
                transform: translateX(10px) translateY(10px);
                display: block;
                border: 20px solid transparent;
                border-bottom: 20px solid #2daae1;
                border-left: 20px solid #2daae1;
              }
            }
          }
        }
      }
    }
  }

  .order-discount {
    background-image: url('../img/form-bg.png');
    background-size: cover;
    padding: 0 30px 40px 30px;

    form {
      * {
        width: 100%;
      }
    }
  }
}