@import "variables";

.banner {
  background: url("../img/women.png") -135% -62px no-repeat;
  .our-products {
    padding-top: 60px;
    .products-pictures-wrapper {
      position: relative;
      min-height: 330px;
      .accent-text {
        position: absolute;
        z-index: 1;
        width: 100px;
        top: 106px;
        left: -65px;
        p {
          position: relative;
          padding: 10px;
          font-size: 22px;
          line-height: 24px;
          color: #fd5e7e;
          text-align: center;
          text-shadow: 6px 11px 9px rgba(0, 0, 0, 0.64);
          &:after {
            content: url('../img/arrow.png');
            position: absolute;
            top: 100%;
            left: 50%;
          }

          @include breakpoint(middle-small) {
            font-size: 18px;
          }
        }

        @include breakpoint(horizontal-iPad) {
          left: 0;
        }

        @include breakpoint(small) {
          left: -85px;
        }

        @include breakpoint(extra-small-mobile) {
          display: none;
        }
      }

      .layer-first {
        position: absolute;
        left: 15px;
        width: 320px;
        height: 320px;
        box-shadow: inset 0 60px 300px -100px #fff;
        transform: rotate(-45deg);
        background: linear-gradient(left, #40405d 60%, #4e4f6c 64%);
        clip-path: polygon(74% 7%, 100% 58%, 62% 100%, 0% 71%, 18% 18%);
        @include breakpoint(middle-small) {
          width: 200px;
          height: 200px;
        }
      }

      .layer-second {
        position: absolute;
        top: 50%;
        transform: translateX(-13%) translateY(-21%) rotate(-45deg);
        width: 320px;
        height: 320px;
        background-color: #16162d;
        clip-path: polygon(76% 9%, 100% 56%, 62% 100%, 12% 74%, 12% 15%);
        @include breakpoint(middle-small) {
          width: 200px;
          height: 200px;
        }

        @include breakpoint(extra-small-mobile) {
          transform: translateX(-13%) translateY(-20%) rotate(-45deg);
        }
      }

      .products {
        position: absolute;
        top: 3px;
        width: 100%;
        .product {
          position: absolute;
          top: 207px;
          left: 353px;
          transform: translateX(-45%) translateY(-50%);
          .picture {
            display: block;
            img {
              max-width: none;
            }

            &:after {
              content: '';
              display: block;
              box-shadow: -61px -60px 117px 16px #fff;
            }
          }

          .label-block {
            position: absolute;
            display: block;
            top: 280px;
            .logo {
              position: relative;
              width: 100px;
              height: 89px;
              transform: translateX(-40px) translateY(-61px) skew(45deg);
              &:after {
                position: absolute;
                content: "";
                transform: translateX(0%) translateY(-31px);
                top: -8px;
                left: 126px;
                display: block;
                background: linear-gradient(left, #fff 20%, #afafaf, #e9e9e9, #fff, #dedede);
                width: 193px;
                height: 55px;
              }
            }

            p {
              position: absolute;
              top: -90px;
              left: 105px;
              width: 110px;
              color: #000;
              font-size: 16px;
              line-height: 18px;
              font-weight: bold;
            }

            @include breakpoint(extra-small-mobile) {
              display: none;
            }
          }

          &:first-child {
            top: 215px;
            left: 130px;
            .picture {
              display: block;
              img {
                @include breakpoint(extra-small-mobile) {
                  width: 75px;
                }
              }

              &:after {
                content: '';
                display: block;
                box-shadow: -61px -30px 111px 16px #fff;
              }
            }

            .label-block {
              top: 290px;
              .logo {
                border-left: 6px solid #2daae1;
                &:before {
                  content: "";
                  position: absolute;
                  top: 73px;
                  left: -16px;
                  background-color: #000;
                  height: 10px;
                  display: block;
                  width: 200px;
                  clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%);
                  filter: blur(35px);
                }

                &:after {
                  top: 50px;
                  left: 0;
                }
              }

              &:before {
                content: "";
                position: absolute;
                top: -45px;
                left: -65px;
                transform: translateX(10px) translateY(10px);
                display: block;
                border: 20px solid transparent;
                border-bottom: 20px solid #2daae1;
                border-left: 20px solid #2daae1;
              }
            }

            p {
              top: -32px;
              left: -12px;
              width: 150px;
              text-indent: -15px;
            }

            @include breakpoint(middle-small) {
              top: 25px;
              left: 0px;
              transform: translateX(0) translateY(0);
            }
          }

          &:last-child {
            .picture {
              img {
                @include breakpoint(extra-small-mobile) {
                  width: 130px;
                }
              }
            }

            .label-block {
              top: 390px;
              &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                left: 35px;
                top: -103px;
                width: 61px;
                height: 61px;
                background-image: url('../img/perl.png');
                background-size: cover;
                background-repeat: no-repeat;
              }

              .logo {
                &:after {
                  clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%);
                  box-shadow: -6px 9px 9px -1px rgba(0, 0, 0, 0.19);
                }
                &:before {
                  content: "";
                  position: absolute;
                  top: 14px;
                  left: 113px;
                  background-color: #000;
                  height: 10px;
                  display: block;
                  width: 200px;
                  clip-path: polygon(28% 0, 100% 0, 100% 100%, 0 100%);
                  filter: blur(35px);
                }
              }
            }

            @include breakpoint(middle-small) {
              top: 0;
              left: 150px;
              transform: translateX(0) translateY(0);
            }

            @include breakpoint(extra-small-mobile) {
              left: 100px;
            }
          }
        }

        .plus {
          position: absolute;
          top: 175px;
          left: 195px;
          width: 60px;
          height: 60px;
          background-color: #fff;
          box-shadow: -1px 1px 28px -5px #fff;
          color: #000;
          font-weight: bold;
          font-size: 36px;
          line-height: 60px;
          border-radius: 50%;
          text-align: center;
          @include breakpoint(middle-small) {
            top: 127px;
            left: 110px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 24px;
          }

          @include breakpoint(extra-small-mobile) {
            top: 73px;
            left: 66px;
          }
        }
      }

      @include breakpoint(extra-small) {
        left: 65px;
      }

      @include breakpoint(extra-small-mobile) {
        left: 15px;
        min-height: 160px;
      }
    }
    @include breakpoint(extra-small) {
      background-color: rgba(32, 32, 71, 0.29);
    }
  }

  .order-discount {
    @extend .clear-fix;
    background-image: url('../img/form-bg.png');
    background-size: cover;
    max-width: 400px;
    margin: 25px auto 15px;
    padding: 0 25px 35px 25px;
    box-shadow: 2px 5px 15px 1px #171834;
    .discount-label {
      position: relative;
      left: 100%;
      transform: translateX(-100%);
      width: 70px;
      height: 55px;
      background-color: #e21e1e;
      text-align: center;
      line-height: 55px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      clip-path: polygon(0% 0%, 100% 1%, 100% 66%, 53% 100%, 0 66%);
    }

    p.discount-title {
      font-size: 20px;
      line-height: 33px;
      font-weight: bold;
      text-align: center;
      padding-top: 10px;
      span {
        position: relative;
        left: 50%;
        transform: translateX(-54%);
        margin-left: 30px;
        width: 250px;
        display: block;
        background-color: $accent-color;
        border-radius: 5px;
        box-shadow: 5px 10px 13px 1px #a6a8a9;
        padding: 10px;
        font-size: 36px;
        color: #000;
        i {
          position: absolute;
          left: 0;
          transform: translateX(-100%);
          margin-left: -10px;
        }

        @include breakpoint(extra-small-mobile) {
          width: 215px;
          font-size: 30px;
        }
        }
    }

    .discount-prise {
      display: flex;
      flex-wrap: no-wrap;
      justify-content: space-between;
      margin-top: 23px;
      .new-price {
        font-size: 48px;
        line-height: 48px;
        font-weight: bold;
        color: #e21e1e;
      }

      .old-prise {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 7px;
        font-size: 24px;
        color: #060606;
        .title {
          font-size: 14px;
          color: #a6a6a6;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          left: 6px;
          width: 61%;
          margin-top: 3px;
          height: 2px;
          background-color: #e21e1e;
          transform: rotate(-30deg);
        }
      }
    }

    form {
      margin-top: -5px;
      * {
        width: 100%;
      }

      lable {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: bold;
        color: #000;
        padding-left: 5px;
      }

      input {
        height: 47px;
        margin-bottom: 3px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
        box-shadow: 2px 5px 7px 0px #7a7c7e;
        border: none;
        border-radius: 5px;
        outline: none;
        &[type=submit] {
          height: 80px;
          margin-top: 10px;
          margin-bottom: 0;
          color: #fff;
          letter-spacing: -2px;
          font-size: 24px;
          text-align: center;
          background-color: #e21e1e;
          line-height: 0;
          box-shadow: 4px 5px 25px 0px rgba(226, 30, 30, 0.48);
          transition: 0.5s all;
          &:hover {
            box-shadow: 0px 0px 0px 0px rgba(226, 30, 30, 0.48);
          }
          &:focus {
            border: none;
          }
        }

        &:focus {
          border: 1px solid $accent-color;
        }
      }
    }
  }

  @include breakpoint(large) {
    background: url("../img/women.png") 0 -62px no-repeat;
  }

  @include breakpoint(extra-small) {
    background-position: 30% 0;
    background-size: cover;
  }
}