.product-composition {
  padding-top: 50px;
  h2 {
    position: relative;
    color: $accent-color;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      top: -50%;
      left: 50%;
      width: 35%;
      height: 45px;
      transform: translateX(-65%) translateY(0);
      display: block;
      border-radius: 50%;
      box-shadow: inset -24px -120px 5px -28px rgba(221, 221, 221, 0.23), 1px 1px 198px 9px #fff;
      filter: blur(37px);
    }
  }

  h3 {
    @include breakpoint(mobile-landscape) {
      text-align: center;
    }
  }

  .component {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    img {
      margin-right: 10px;
      @include breakpoint(small) {
        width: 30%;
      }
    }

    .describe {
      p {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 30px;
        color: #787a9e;
        @include breakpoint(mobile-landscape) {
          text-align: center;
        }
      }
    }

    @include breakpoint(mobile-landscape) {
      flex-direction: column;
      align-items: center;
    }
  }
}