@import "reset";
@import "fonts";
@import "variables";
@import "mixins/breackpoint";
@import "fonts";

body {
  background-color: $background-color;
  font-family: $font-family;
  .row {
    @include breakpoint(small-medium) {
      margin-right: -30px;
      margin-left: -30px;
    }
  }
}

.clear-fix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 70px;
    height: 7px;
    background: url('../img/line.png') -5px 0;
    background-repeat-y: no-repeat;
  }
}

h2 {
  color: #000;
  font-size: 48px;
  letter-spacing: -2.5px;
  @include breakpoint(extra-small) {
    font-size: 28px;
  }
}

h3 {
  font-size: 22px;
  line-height: 30px;
  color: #c2c4eb;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: -0.5px;
  span {
    color: $accent-color;
  }
}

@import "header";
@import "banner";
@import "how-it-works";